header {
    background-color: lightblue;
  
    width: 100vw;
    height: 10vh;
  
    position: fixed;
    top: 0px;
    left: 0px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  header > .title {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-grow: 3;
  }
  
  header > #control_panel {
    padding: 0.2em 2em;
  }
  
  header > audio {
    position: absolute;
    left: 0px;
  }
  
  main {
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
  }
  
  canvas {
    position: fixed;
    top: 10vh;
    left: 0;
  }
  
  #score_panel {
    position: absolute;
    top: 1em;
    left: 1em;
  
    width: 200px;
    height: clamp(5em, 30vh, 400px);
  }

  #calibration_panel {
    position: absolute;
    top: 1em;
    right: 1em;
  
    padding: 1em 0.3em;
  
    width: 300px;
  
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5em;
  }
  
  .valueInput {
    size: 5;
  }
  
  .panel {
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  #credits {
    display: none;
  }
  
  .mobileControlPanel {
    position: absolute;
    bottom: min(50px,5vh);
    width: clamp(3rem, 30vh, 100px);
    height: clamp(3rem, 30vh, 100px);
    padding: 15px;
  }
  
  #mobileControl_left {
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #mobileControl_left > img {
    position: absolute;
    left: 40px;
    top: 40px;
  }
  
  #mobileControl_left > div {
    align-self: flex-end;
  }
  
  #mobileControl_left  #btnRight {
    grid-area: r;
  }
  #mobileControl_left  #btnLeft {
    grid-area: l;
  }
  #mobileControl_left  #btnUp {
    grid-area: up;
  }
  #mobileControl_left  #btnDown {
    grid-area: dn;
  }
  
  #mobileControl_right {
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .countDownLightBox {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5000;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .countDown {
    font-size: 30vh;
    color: yellow;

    animation-duration: 0.9s;
    animation-delay: 0.1s;
    animation-name: explode;

  }

  @keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(10);
        opacity: 0;
    }
  }

.lifeLostScreen {
    font-size: 10vh;
    color: yellow;
    text-align: center;

    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5000;
    background-color: black;

    animation: backgroundFade 1s;
}

@keyframes backgroundFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
