main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10vh;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 15px;
    width: clamp()
}

.mainMenu > a {
    margin: 12px;
    font-size: large;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}