.mainPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.optionsPanel {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 0.5rem;
    row-gap: 0.5rem;
}

.groupPanel {
    width: 80%;
    margin: 1rem 0px 1rem 0px;
    padding: 1em;    
    text-align: center;
}

button {
    margin-left: 12px;
    margin-right: 12px;
    font-size: large;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

button.validate {
    background-color: lightgreen;
}
